<!DOCTYPE html>
<html lang="en">
<head>
<title >Build Genshin</title>
<link rel="icon" href="images/icona.webp"/>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="css/armi.css">
<link rel="stylesheet" href="css/personaggi.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="colore-sfondo">
	<nav class="navbar navbar-expand-lg navbar-light navbar-sfondo">
		<a class="navbar-brand navbar-genshin" href="">BUILD GENSHIN</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav ms-auto">

            <form class="d-flex me-auto mx-3">
                <div class="input-group cerca">
                    <input class="form-control" type="search" name="nome" placeholder="Cerca arma..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi bi-search">cerca</i>
                    </button>
                </div>
            </form>

				<li class="nav-item">
					<a class="nav-link fs-5 navbar-destra" href="personaggi">Personaggi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fs-5 navbar-destra" href="artefatti">Artefatti</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fs-5 navbar-destra" href="build">Build</a>
				</li>
                <li class="nav-item">
					<a class="nav-link fs-5 navbar-destra" href="accedi">Accedi</a>
				</li>
                <li class="nav-item">
					<a class="nav-link fs-5 navbar-destra" href="registrati">Registrati</a>
				</li>
		</ul>
		</div>
	</nav>

    <div class="text-center">
        <div class="container">
            <form id="filtro-elemento" method="get" action="/personaggi">
                <div class="d-flex flex-wrap justify-content-center pt-4">
                    <button type="submit" name="elemento" class="btn-elemento btn-pyro" value="Pyro"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-hydro" value="Hydro"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-electro" value="Electro"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-dendro" value="Dendro"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-cryo" value="Cryo"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-geo" value="Geo"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-anemo" value="Anemo"></button>
                    <button type="submit" name="elemento" class="btn btn-outline-light ms-3" value="">Mostra tutti</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div>
                <p class="scritta-pers">ARMI</p>
            </div>
        </div>
    </div>

    
    <div class="col-md-12">
        <div class="row">
            <% if(armi.length === 0) { %>
                <div class="col-md-12 text-center">
                    <h2>Nessuna arma trovata</h2>
                </div>
            <% } %>
            <% armi.forEach((arma) => { %>
                <div class="col-md-3 mb-4">
                    <div class="weapon-container" data-bs-toggle="modal" data-bs-target="#weaponModal<%= arma.id %>">
                        <img class="im-armi" src="<%= arma.immagine %>">
                        <div class="weapon-info-bar">
                            <h5 class="weapon-name"><%= arma.nome_arma %></h5>
                            <span class="ms-2 rarity-<%= arma.rarità %> weapon-rarity">
                                <%= "★".repeat(arma.rarità) %>
                            </span>
                        </div>
                    </div>
    
                    <!-- Modal -->
                    <div class="modal" id="weaponModal<%= arma.id %>">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-<%= arma.tipo %>">
                                    <h5 class="modal-title" id="weaponModalLabel<%= arma.id %>"><%= arma.nome_arma %></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <img class="img-fluid mb-2" src="<%= arma.immagine %>" alt="<%= arma.nome %>">
                                            <div>
                                                <span class="badge bg-<%= arma.tipo %>">
                                                    <%= arma.tipo %>
                                                </span>
                                                <span class="ms-2 stelle">
                                                    <%= "★".repeat(arma.rarità) %>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-8 modal-desc">
                                            <p><strong>Statistica Principale:</strong> <%= arma.statistica_principale_armi %></p>
                                            <p><strong>Abilità Passiva:</strong> <%= arma.effetto_armi %></p>
                                            <p><%= arma.descrizione %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>