<!DOCTYPE html>
<html lang="it">

<head>
	<title>Crea Build Genshin</title>
	<link rel="icon" href="images/icona.webp" />
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/profilo.css">
	<link rel="stylesheet" href="../css/creaSetArt.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/footer.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body class="colore-sfondo">
	<%- include('navbar-noRIc.ejs') %>
	<div class="container">
		<form action="/creabuild" method="POST">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<div class="container-small">
						<h1 class="page-title">Crea il tuo Set di Artefatti</h1>
						<div class="white-box">
							<div class="form-group">
								<label for="nome_set" class="form-label">Nome Set:</label>
								<input type="text" id="nome_set" name="nome_set" class="form-input" required><!--nome del set di artefatti-->
							</div>

							<div class="form-group">
								<label for="descrizione" class="form-label">Statistiche principali:</label>
								<textarea id="descrizione" name="descrizione" rows="4" class="form-textarea"></textarea>
							</div>

							<div class="artifact-selection">
								<div class="form-group">
									<label for="fiore" class="form-label">Fiore:</label>
									<div class="select-with-img">
										<img id="fiore-img" src="" alt="Anteprima fiore">
										<div class="select-container">
											<select id="fiore" name="fiore" class="form-select">
												<option value="">Seleziona un fiore</option>
												<% categorie.fiore.forEach(a => { %>
												<option value="<%= a.id %>" data-img="<%= a.immagine %>">
													<%= a.nome %>
												</option>
												<% }) %>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="piuma" class="form-label">Piuma:</label>
									<div class="select-with-img">
										<img id="piuma-img" src="" alt="Anteprima piuma">
										<div class="select-container">
											<select id="piuma" name="piuma" class="form-select">
												<option value="">Seleziona una piuma</option>
												<% categorie.piuma.forEach(a => { %>
												<option value="<%= a.id %>" data-img="<%= a.immagine %>">
													<%= a.nome %>
												</option>
												<% }) %>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="clessidra" class="form-label">Clessidra:</label>
									<div class="select-with-img">
										<img id="clessidra-img" src="" alt="Anteprima clessidra">
										<div class="select-container">
											<select id="clessidra" name="clessidra" class="form-select" required>
												<option value="">Seleziona una clessidra</option>
												<% categorie.clessidra.forEach(a => { %>
												<option value="<%= a.id %>" data-img="<%= a.immagine %>">
													<%= a.nome %>
												</option>
												<% }) %>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="coppa" class="form-label">Coppa:</label>
									<div class="select-with-img">
										<img id="coppa-img" src="" alt="Anteprima coppa">
										<div class="select-container">
											<select id="coppa" name="coppa" class="form-select" required>
												<option value="">Seleziona una coppa</option>
												<% categorie.coppa.forEach(a => { %>
												<option value="<%= a.id %>" data-img="<%= a.immagine %>">
													<%= a.nome %>
												</option>
												<% }) %>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="corona" class="form-label">Corona:</label>
									<div class="select-with-img">
										<img id="corona-img" src="" alt="Anteprima corona">
										<div class="select-container">
											<select id="corona" name="corona" class="form-select" required>
												<option value="">Seleziona una corona</option>
												<% categorie.corona.forEach(a => { %>
												<option value="<%= a.id %>" data-img="<%= a.immagine %>">
													<%= a.nome %>
												</option>
												<% }) %>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="container-small">
						<h1 class="page-title">Personaggio</h1>
						<div class="white-box">
							<div class="form-group">
								<label class="form-label">Personaggio:</label>
								<div class="select-with-img">
									<img id="personaggio-img" src="" alt="Anteprima personaggio">
									<div class="select-container">
										<select id="personaggio" name="personaggio" class="form-select" required>
											<option value="">Seleziona personaggio</option>
											<% personaggi.forEach(p => { %>
											<option value="<%= p.id %>" data-img="<%= p.immagine %>" data-tipo="<%= p.tipo.toLowerCase() %>">
												<%= p.nome %>
											</option>
											<% }) %>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container-small mt-3">
						<div>
							<h1 class="page-title">Scegli un'Arma</h1>
							<div class="white-box">
								<div class="artifact-selection">
									<div class="form-group">
										<label for="spada" class="form-label">Spade:</label>
										<div class="select-with-img">
											<div class="select-container">
												<select id="spada" class="form-select">
													<option value="">Seleziona</option>
													<% armi.spada.forEach(a=> { %>
													<option value="<%= a.id %>" data-img="<%= a.immagine %>">
														<%= a.nome_arma %>
													</option>
													<% }) %>
												</select>
											</div>
										</div>
										<img id="spada-img" src="" alt="Anteprima spada" class="select-with-img img">
									</div>

									<div class="form-group">
										<label for="spadone" class="form-label">Spadoni:</label>
										<div class="select-with-img">
											<div class="select-container">
												<select id="spadone" class="form-select">
													<option value="">Seleziona</option>
													<% armi.spadone.forEach(a=> { %>
													<option value="<%= a.id %>" data-img="<%= a.immagine %>">
														<%= a.nome_arma %>
													</option>
													<% }) %>
												</select>
											</div>
										</div>
										<img id="spadone-img" src="" alt="Anteprima spadone" class="imgspadone">
									</div>

									<div class="form-group">
										<label for="catalizzatore" class="form-label">Catalizzatori:</label>
										<div class="select-with-img">
											<div class="select-container">
												<select id="catalizzatore" class="form-select">
													<option value="">Seleziona</option>
													<% armi.catalizzatore.forEach(a=> { %>
													<option value="<%= a.id %>" data-img="<%= a.immagine %>">
														<%= a.nome_arma %>
													</option>
													<% }) %>
												</select>
											</div>
										</div>
										<img id="catalizzatore-img" src="" alt="Anteprima catalizzatore" class="select-with-img img">
									</div>

									<div class="form-group">
										<label for="lancia" class="form-label">Lance:</label>
										<div class="select-with-img">
											<div class="select-container">
												<select id="lancia" class="form-select">
													<option value="">Seleziona</option>
													<% armi.lancia.forEach(a=> { %>
													<option value="<%= a.id %>" data-img="<%= a.immagine %>">
														<%= a.nome_arma %>
													</option>
													<% }) %>
												</select>
											</div>
										</div>
										<img id="lancia-img" src="" alt="Anteprima lancia" class="select-with-img img">
									</div>

									<div class="form-group">
										<label for="arco" class="form-label">Archi:</label>
										<div class="select-with-img">
											<div class="select-container">
												<select id="arco" class="form-select">
													<option value="">Seleziona</option>
													<% armi.arco.forEach(a=> { %>
													<option value="<%= a.id %>" data-img="<%= a.immagine %>">
														<%= a.nome_arma %>
													</option>
													<% }) %>
												</select>
											</div>
										</div>
										<img id="arco-img" src="" alt="Anteprima arco" class="select-with-img img">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="submit-button">Crea Build</button>
						<a href="/profilo" class="submit-button">Annulla</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">

					<div class="container-small">
						<h1 class="page-title">Visibilità</h1>
						<div class="white-box">
							<div class="form-group">
								<label for="pubblico" class="form-label">Visibilità:</label>
								<select id="pubblico" name="pubblico" class="form-select" required>
									<option value="1">Pubblico</option>
									<option value="0">Privato</option>
								</select>
							</div>
						</div>
					</div>
					<div class="container-small mt-3">
						<h1 class="page-title">Gilda</h1>
						<div class="white-box">
							<div class="form-group">
								<label for="gilda" class="form-label">Gilda:</label>
								<div class="select-with-img">
									<div class="select-container">
										<select id="gilda" name="gilda" class="form-select">
											<option value="-1">Nessuna Gilda</option>
											<% gilde.forEach(g => { %>
											<option value="<%= g.id %>">
												<%= g.nome_gilda %>
											</option>
											<% }) %>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>


	<footer class="footer navbar-sfondo">
		<div class="container">
			<div class="row">
				<div class="col-md-3 align-items-center">
					<img src="images/icona.webp" class="footer-img">
				</div>
				<div class="col-md-3 align-items-center">
					<p class="footer-text">Build Genshin</p>
				</div>
				<div class="col-md-6 justify-content-end align-items-center">
					<p class="email-footer">Seguimi su instagram:</p>
					<p>matteo_dura</p>
					<p class="email-footer">Email:</p>
					<p>20050673@studenti.uniupo.it</p>
					<p class="email-footer">© 2024 Build Genshin. Tutti i diritti riservati.</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="\javascript\creaBuild.js"></script>
</body>

</html>