<!DOCTYPE html>
<html lang="en">
<head>
    <title>Build Genshin</title>
    <link rel="icon" href="images/icona.webp"/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/personaggi.css">
    <link rel="stylesheet" href="css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="colore-sfondo">
    <nav class="navbar navbar-expand-lg navbar-light navbar-sfondo">
        <a class="navbar-brand navbar-genshin" href="/">BUILD GENSHIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <form class="d-flex me-auto mx-3">
                <div class="input-group cerca">
                    <input class="form-control" type="search" name="nome" placeholder="Cerca personaggio..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi bi-search">cerca</i>
                    </button>
                </div>
            </form>

            <ul class="navbar-nav ms-auto">
              
                <li class="nav-item">
                    <a class="nav-link fs-5 navbar-destra" href="build">Build</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 navbar-destra" href="artefatti">Artefatti</a>
                </li> 
                <li class="nav-item active">
                    <a class="nav-link fs-5 navbar-destra" href="registrati">Registrati</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 navbar-destra" href="accedi">Accedi</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="text-center">
        <div class="container">
            <form id="filtro-elemento" method="get" action="/personaggi">
                <div class="d-flex flex-wrap justify-content-center pt-4">
                    <button type="submit" name="elemento" class="btn-elemento btn-pyro" value="Pyro"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-hydro" value="Hydro"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-electro" value="Electro"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-dendro" value="Dendro"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-cryo" value="Cryo"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-geo" value="Geo"></button>
                    <button type="submit" name="elemento" class="btn-elemento btn-anemo" value="Anemo"></button>
                    <button type="submit" name="elemento" class="btn btn-outline-light ms-3" value="">Mostra tutti</button>
                </div>
            </form>
        </div>
    </div>
    
    

    <div class="container">
        <div class="row">
            <div>
                <p class="scritta-pers">PERSONAGGI</p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <% if(personaggi=='') { %>
                        <div class="col-md-12 text-center">
                            <h2>Nessun personaggio trovato</h2>
                        </div>
                    <% } %>
                    <% personaggi.forEach((personaggio) => { %>
                        <div class="col-md-3 mb-4">
                            <div class="character-container" data-bs-toggle="modal" data-bs-target="#characterModal<%= personaggio.id %>">
                                <img class="im-personaggio" src="<%= personaggio.immagine %>">
                                <div class="barra-info-pers">
                                    <h5 class="character-name"><%= personaggio.nome %></h5>
                                    <span class="character-element element-<%= personaggio.elemento %>">
                                        <%= personaggio.elemento %>
                                    </span>
                                    <span class="ms-2 rarity-<%= personaggio.rarità %>">
                                        <%= "★".repeat(personaggio.rarità) %>
                                    </span>
                                </div>
                            </div>

                        <div class="modal" id="characterModal<%= personaggio.id %>">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-<%= personaggio.elemento %>">
                                        <h5 class="modal-title text-white" id="characterModalLabel<%= personaggio.id %>"><%= personaggio.nome %></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <img class="img-fluid mb-2" src="<%= personaggio.immagine %>" alt="<%= personaggio.nome %>">
                                                <div>
                                                    <span class="badge bg-<%= personaggio.elemento %>">
                                                        <%= personaggio.elemento %>
                                                    </span>
                                                    <span class="ms-2 stelle">
                                                        <%= "★".repeat(personaggio.rarità) %>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-8 modal-desc modal-header bg-<%= personaggio.elemento %>">
                                                <p><%= personaggio.descrizione %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-header bg-<%= personaggio.elemento %>">
                                        <button type="button" class="btn btn-secondary modal-footer " data-bs-dismiss="modal">Build</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer navbar-sfondo">
		<div class="container">
			<div class="row">
				<div class="col-md-3 align-items-center">
					<img src="images/icona.webp" class="footer-img">
				</div>
				<div class="col-md-3 align-items-center">
					<p class="footer-text">Build Genshin</p>
				</div>
				<div class="col-md-6 justify-content-end align-items-center">
					<p class="email-footer">Seguimi su instagram:</p>
					<p>matteo_dura</p>
					<p class="email-footer">Email:</p>
					<p>20050673@studenti.uniupo.it</p>
					<p class="email-footer">© 2024 Build Genshin. Tutti i diritti riservati.</p>
				</div>
			</div>
		</div>
	</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>